{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Immortals | Lion Dance Team</title>
	<meta name="description" content="The official website for the Immortals Lion Dance Troupe">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<!-- Main css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'website/style.css' %}">
	<link rel="stylesheet" href="{% static 'website/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'website/bootstrap.css' %}">
	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

	<!-- =========================
     PRE LOADER       
============================== 
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>-->

	<!-- =========================
     NAVIGATION LINKS     
============================== -->
	<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
		<div class="container">

			<!-- navbar header -->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Immortals | Lion Dance 仙樂</a>
			</div>

			<div class="collapse navbar-collapse">

				<ul class="menu nav navbar-nav navbar-right">
					<li><a href="#intro" class="slide-section">Intro</a></li>
					<li><a href="#overview" class="slide-section">About</a></li>
					<li><a href="#speakers" class="slide-section">Media</a></li>
					<li><a href="#program" class="slide-section">Portfolio</a></li>
					<li><a href="#register" class="slide-section">Testimonials</a></li>
					<li><a href="#contact" class="slide-section">Contact</a></li>
				</ul>

			</div>

		</div>
	</div>

	<!-- 
		ALERT BANNERS
	 -->
	  <div
	  	class="alert alert-warning alert-dismissible alert-banner"
		role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Attention!</strong> We are no longer taking requests for the lunar new year as we are fully booked.
			We appreciate your understanding and thank you for considering our services. 
	  </div>


	<!-- =========================
    INTRO SECTION   
============================== -->
	<section id="intro" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<h3 style="color:#ffffff" class="wow bounceIn" data-wow-delay="0.9s">A Living Tradition.</h3>
					<h1 class="wow fadeInUp" data-wow-delay="1.2s">Immortals.</h1>
					<a href="#overview" class="btn btn-lg btn-default slide-section wow fadeInUp hidden-xs"
						data-wow-delay="1.3s">LEARN MORE</a>
					<a href="#contact" class="btn btn-lg btn-danger slide-section wow fadeInUp"
						data-wow-delay="1.3s">BOOK NOW</a>
					<div class="col-md-12 col-sm-12">
						<p></br></p>

						<ul class="social-icon">
							<li><a href="https://www.facebook.com/Immortalsliondance/"
									class="fa fa-facebook wow fadeInUp " data-wow-delay="1.7s"></a></li>
							<li><a href="https://www.instagram.com/immortalsliondance/"
									class="fa fa-instagram wow fadeInUp" data-wow-delay="1.8s"></a></li>
						</ul>

					</div>
				</div>


			</div>
		</div>
	</section>


	<!-- =========================
    OVERVIEW SECTION   
============================== -->
	<section id="overview" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-6">
					</br>
					<h3>A little bit about us.</h3>
					<p>The Immortals are a renowned lion dance team based in the city of LA.</p>
					<p>In the early 1960s, Jeff Chan informally established the "Chinese Lion Dancers of Los Angeles."
						Jeff took in a group of kids from the L.A. Chinatown neighborhood to train them in martial arts
						and lion dancing. He was the first person to start his own group not tied to a family
						association or Gung Fu school. To this day, several of the original members still perform with
						their grown children.</p>
					<p>The brightly colored costumes of the playful lions and ferocious dragons, the sounds of drums,
						gongs, cymbals, and the smell of incense and firecrackers delight the senses as these skilled
						Gung Fu fighters display their physical strength and expertise in weaponry.</p>
					<p></br>In 1978, the group adopted the name "Immortals" based on the Chinese folklore of the 'Eight
						Immortals'. Our group colors are Red and Black, symbolizing General Kwan Yu from the Three
						Kingdoms Period. General Kwan represents courage, bravery, uprightness, and loyalty. He is
						regarded as a peerless hero and an exceptional fighter. He is also the patron saint of Chinese
						martial arts.</br></br></br></br></p>
					<img src="{% static 'website/images/overview-img2.jpg' %}" class="img-responsive" alt="Overview">
				</div>

				<div class="col-md-6 col-sm-6">
					</br></br>
					<img src="{% static 'website/images/overview-img.jpg' %}" class="img-responsive" alt="Overview">
					<img src="{% static 'website/images/temp4.jpg' %}" class="img-responsive" alt="Overview">
				</div>

			</div>
		</div>
	</section>


	<!-- =========================
    VIDEO SECTIONS
============================== -->
	<section id="video" class="parallax-section">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-10">
					<h2>History</h2>
					<h3>Immortals Lion Dance Style</h3>
					<p>Our lion dance style is originally based on the Choy Lai Fut system. Through the years, we have
						incorporated our own style and integrated today's acrobatic flair. We stress a good foundation
						with strong stances and powerful Southern head movements. Coupled with agility, stamina, and
						teamwork, these features are the main components of our lion dance technique. </p>
					<p>Our Gung Fu is also a mixture of several different styles. Our main system is the Five Family
						Five Animals Style, originally taught to Jeff Chan by Grandmaster Ark Yuey Wong, and later
						taught to the Immortals by Sifu Al Leong. </p>
					<h3>Lion Dance History</h3>
					<p>Chinese folklore has many stories of the evolution of the lion dance. In one, an emperor had a
						dream that a mystical beast had saved his life. He was so inspired by this beast, that he had
						artisans construct a facsimile of the creature and hired entertainers to perform a dance for his
						amusement. </p>
					<p>In another tale, a peculiar animal appeared on the eve of Chinese New Year to destroy a small
						village. To protect themselves from more devastation, on the following year, the villagers
						assembled a figurine out of bamboo and cloth which looked identical to the animal. Accompanied
						by the pounding of a drum, clanging of a gong, and clashing of cymbals, the villagers mimicked
						the ferociousness of the beast and chased it away. </p>
					<p>Finally, legend has it that in the heavens, a playful but mischievous lion angered the gods one
						too many times. As a result, the lion was beheaded and thrown to earth. The Goddess of Mercy
						witnessed the unfortunate event and felt sorry for the innocent lion. With a magical red scarf,
						she tied the lion's head to its body and brought the lion back to life to roam the earth,
						chasing away evil spirits and bringing good luck and fortune to those who watch it perform. </p>
				</div>
				<div class="col-md-6 col-sm-10">
					</br></br>
					<img src="{% static 'website/images/jeffchan.jpg' %}" class="img-responsive" alt="Overview">
					<img src="{% static 'website/images/blackbeltmag.jpg' %}" class="img-responsive" alt="Overview">
				</div>

			</div>
		</div>
	</section>


	<!-- =========================
    SPEAKERS SECTION   
============================== -->
	<section id="speakers">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12 wow bounceIn">
					<div class="section-title">
						<h2>Instagram Feed</h2>
						<!--<p>Keep up with the latest events and shows by checking in with our online calendar.</p>-->
						<p>Stay in the loop by checking in and following our Instagram!</p>
						<a class="btn btn-primary"
							href="https://www.instagram.com/accounts/login/?next=%2Fimmortals_liondance%2F&source=follow"
							rel="external" target="_top"><i class="fa fa-lg fa-instagram"></i> Follow</a>
						</br>
						<!-- LightWidget WIDGET -->
						<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
							src="//lightwidget.com/widgets/1c5cc05e256b512c9044cb0294874b8d.html" scrolling="no"
							allowtransparency="true" class="lightwidget-widget"
							style="width:100%;border:0;overflow:hidden;"></iframe>
						<!--<a href="login.html" class="fa fa-cog"></a>
					<div class="calendar"></div>-->

					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- =========================
    PROGRAM SECTION   
============================== -->
	<section id="program">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h2>Portfolio</h2>
						<p>We are proud to have performed for the following occasions.</p>
					</div>
				</div>

				<div class="col-md-10 col-sm-10">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs portfolio-nav" role="tablist">
						<li class="active"><a href="#fday" aria-controls="fday" role="tab" data-toggle="tab">Clients</a>
						</li>
						<li><a href="#sday" aria-controls="sday" role="tab" data-toggle="tab">Festivals</a></li>
						<li><a href="#tday" aria-controls="tday" role="tab" data-toggle="tab">Media</a></li>
						<li><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
						<li><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">Locations</a>
						</li>
					</ul>
					<!-- tab panes -->
					<div class="tab-content">

						<div role="tabpanel" class="tab-pane active" id="fday">
							<!-- program speaker here -->
							<div class="col-md-10 col-sm-10">
								<h3>
									15/40 Productions, Ltd.</br>
									A&M Records</br>
									AEG Marketing</br>
									Frances Blend School for the Visually Impaired - Hollywood</br>
									Bird Pick Tea & Herb</br>
									Boeing - Woodland Hills</br>
									Braille Institute - Los Angeles</br>
									< C & H International</br>
										Cathay Bank - Various locations</br>
										Cathay Pacific Airways</br>
										Charles Schwab - Arcadia</br>
										China Eastern Airlines</br>
										Chinese American Museum</br>
										Chinese Historical Society of Southern California</br>
										Chong Hing Jewelers - Various locations</br>
										Comerica Bank - Cerritos</br>
										Cox and Kings</br>
										David Lee Jewelers - Arcadia</br>
										DreamWorks</br>
										East West Bank - Pasadena (Corporate Headquarters)</br>
										Eva Air</br>
										Hing Wa Lee Jewelers - Various locations</br>
										Hong Kong Association of Southern California (HKASC)</br>
										Hong Kong Economic & Trade Office</br>
										Irvine Spectrum</br>
										Kim Phuoc Jewelry</br>pli
										Los Angeles Chinese Chamber of Commerce</br>
										Los Angeles/Guangzhou Sister City Association</br>
										Make-A-Wish Foundation - Orange County Chapter</br>
										Maersk, Danish Shipping, Inc.</br>
										Man Realty</br>
										McDonald's - City of Pasadena - Chinese New Year - 2007</br>
										McDonnell Douglas - Long Beach</br>
										Mercedes-Benz USA - Costa Mesa</br>
										Metro United Bank</br>
										Merrill Lynch - Pasadena</br>
										Monterey Park Chamber of Commerce</br>
										Mulligan Project</br>
										New Century BMW</br>
										Neutrogena - El Segundo</br>
										Nike - Ritz Carlton Laguna Niguel</br>
										Occidental College</br>
										Operation Smile</br>
										Panda Restaurant Group - Various locations</br>
										RBC Investments - Montage Hotel and Resort</br>
										Regal Entertainment Group - LA Live</br>
										Special Olympics - Santa Monica Pier</br>
										Superior Communications</br>
										Toyota Motor Corp - Torrance</br>
										Unical - City of Industry</br>
										Walmart - Norwalk</br>
										Warner Bros. - Street Party</br>
										Wing Hop Fung - Monterey Park</br>
								</h3>
							</div>

							<!-- program divider -->
							<div class="program-divider col-md-12 col-sm-12"></div>

						</div>



						<div role="tabpanel" class="tab-pane" id="sday">
							<div class="col-md-10 col-sm-10">
								<h3>
									Alhambra - San Gabriel Chinese New Year's Parade & Festival</br>
									Aloha Concert Jam - Long Beach</br>
									Asian Pacific Heritage Festival - Queen Mary, Long Beach</br>
									Berkeley - Parade of Lights</br>
									Chinese New Year's at the Grove - Los Angeles</br>
									Festival of Arts/Pageant of the Masters - Laguna Beach</br>
									International Festival of the Mask - Los Angeles</br>
									El Sereno - 4th of July Parade</br>
									Hollywood - Santa Claus Lane Parade</br>
									Huntington Park - Christmas Parade</br>
									LA Chinatown Chinese New Year's Parade & Festival</br>
									LA Chinatown Film Festival</br>
									LA Chinatown Moon Festival</br>
									LA Double 10 Parade</br>
									LA Korean Parade & Festival</br>
									LA Street Scene</br>
									LA Tofu Festival</br>
									Lantern Festival - Chinatown/CAM</br>
									Las Vegas - Parade</br>
									Long Beach Museum of Art - Children's Cultural Festival</br>
									Lotus Festival</br>
									Moon Festival - Chinatown</br>
									Nisei Week Festival - Los Angeles</br>
									Oakland - Labor Day Parade</br>
									Pleasanton - Parade</br>
									Porterville - Parade</br>
									Redondo Beach - Kite Festival</br>
									Seaside - 4th of July Parade</br>
									SF - Chinese New Year's Parade</br>
									SF - Double 10 Parade</br>
									Taiwan Beer Festival - Pomona Fairplex -2007</br>
									Unity Fest - City of Glendale</br>
								</h3>
							</div>
							<!-- program speaker here -->
						</div>

						<div role="tabpanel" class="tab-pane" id="tday">
							<!-- program speaker here -->
							<div class="col-md-10 col-sm-10">
								<h6>Music Video & Concerts</h6>
								<h3>Matchbox 20 - Back 2 Good - Yourself or Someone Like You</br>
									Meredith Brooks - Lay Down Candles in the Rain - Deconstruction</br>
									Rolling Stones Tour - Fabulous Forum - 1974</br>
									Sisqo - Got to Get It - Unleash the Dragon</br>
									Stevie Wonder - Mulan Soundtrack - True to Your Heart - 1998</br></br></h3>
								<h6>Film & TV Shows</h6>
								<h3>Bachelorette - Season 2 - 2004</br>
									Buffy The Vampire Slayer</br>
									CSI : NY - 2009</br>
									Movie Premiere - Empire of the Sun - Westwood - 1987</br>
									Movie Premiere - Enter the Dragon - Grauman's Chinese Theatre, Hollywood - 1973</br>
									Everlasting Spring - Documentary</br>
									Flower Drum Song - 1961</br>
									Ford 75th Anniversary Special - 1978</br>
									Hammett - HBO - 1982</br>
									Hawaii - 1966</br>
									Movie Premiere - The Karate Kid - Westwood - 2010</br>
									Movie Premiere - Kung Fu Hustle - Arclight Theater - Hollywood - 2004</br>
									Movie Premiere - Kung Fu Panda - Hollywood - 2011</br>
									Lake Consequence - HBO - 1993</br>
									The Love Bug - 1968</br>
									Mike Super Short Show - Mulan II - 2005</br>
									MTV's 'The Phone' - 2009</br>
									Mulan - Reflections on Ice - 1998</br>
									Never So Few - 1959</br>
									Night Court - 1989</br>
									One More Train to Rob - 1971</br>
									Replacement Killers - 1998</br>
									Spiderman - 2002</br>
									Whats Up, Doc? - 1972</br></h3>
								<h4></h4>
								<p></p>
							</div>
						</div>


						<div role="tabpanel" class="tab-pane" id="events">
							<!-- program speaker here -->
							<div class="col-md-10 col-sm-10">
								<h6>Special Events</h6>
								<h3>70th Anniversary of Los Angeles Chinatown</br>
									Cathay Bank 50th Anniversary - Bonaventure Hotel</br>
									Chow Yun Fat Foot and Hand Print - Chinatown Plaza</br>
									Golden Spike Utah </br>
									Inaugural L.A. Marathon</br>
									Jackie Chan's First Visit to L.A. Chinatown</br>
									LA Dodgers Stadium - Inaugural Opening</br>
									Las Vegas - Construction Convention - 4 days; 13 performances - SANY</br>
									Liza Wang Foot and Hand Print - Chinatown Plaza</br>
									Olympics Opening / Closing Ceremonies</br>
									Opening Monte Carlo Casino - Dragon Noodle Co.</br>
									Richard Nixon Library - 95th Anniversary of the Girl Scouts of America</br>
									Rose Parade - Singapore Airlines</br>
									Shaolin Monks - Irvine Bren Center / Hollywood Palladium</br>
									Tahiti - Lion Dance Training and Seminar</br></h3>

								<h6>Others</h6>
								<h3>American Red Cross San Gabriel Pomona Valley</br>
									Anoush - Glendale (Glenoaks)</br>
									Anoush - North Hollywood</br>
									Bel Air Bay Club</br>
									The Betty Reckas Cultural Center - Long Beach</br>
									Bowers Museum - Santa Ana</br>
									Bren Events Center - UC Irvine</br>
									Cal Tech Athenaeum - Pasadena</br>
									Calamigos Ranch - Malibu</br>
									California Club - Downtown Los Angeles</br>
									California Yacht Club - Marina Del Rey</br>
									Castle Green - Pasadena</br>
									Casino Ballroom - Catalina Island</br>
									Cathedral of Our Lady of the Angels</br>
									The Chandelier Room - Santa Anita Park</br>
									City Club on Bunker Hill</br>
									Disneyland - Anaheim</br>
									Electra Cruises - Newport Beach</br>
									Greystone Mansion - Beverly Hills</br>
									The Hacienda - Santa Ana</br>
									Hollywood Palladium</br>
									Huntington Beach Pier</br>
									Jonathan Beach Club - Santa Monica</br>
									Jonathan Club - Downtown Los Angeles</br>
									Knotts Berry Farm, Buena Park</br>
									LA Union Station</br>
									Legendary Wilshire Park Plaza</br>
									Long Beach Museum of Arts</br>
									Los Angeles County Arboretum & Botanic Garden - Arcadia</br>
									Los Angeles County Museum of Natural History</br>
									Los Angeles River and Garden Center</br>
									Los Willows - Fallbrook</br>
									Marion Davies Guest House - Santa Monica</br>
									Marvimon - Downtown Los Angeles</br>
									Muckenthaler Mansion - Fullerton</br>
									O'Donnell House - Palm Springs</br>
									The Ocean Insititute - Dana Point</br>
									The Orange County Performing Arts Center- Rene and Henry </br>
									Smog Shoppe - Culver CitySegerstrom Concert Hall</br>
									Oviatt Penthouse - Downtown Los Angeles</br>
									Pasadena Museum of California Arts</br>
									The Proud Bird - LAX</br>
									Rancho del Cielo - Malibu</br>
									Rancho Las Lomas - Silverado</br>
									Rancho Sol del Pacifico - Malibu</br>
									Redondo Beach Pier</br>
									Richard Nixon Library</br>
									Seven-Degrees Art Gallery - Laguna Beach</br>
									Skirball Cultural Center - Los Angeles</br>
									Soka University of America - Aliso Viejo</br>
									Taglyan Cultural Center - Hollywood</br>
									Tom Bradley Tower - Los Angeles City Hall</br>
									Town & Gown - USC</br>
									University Club - UC Irvine</br>
									The Vintage Club - Indian Wells</br>
									Vibiana - Downtown Los Angeles</br>
									Victoria Gardens - Rancho Cucamonga</br>
									Wattles Mansion - Hollywood</br>
									Weiland Brewery Underground - Downtown LA</br>
								</h3>
								<h4></h4>
								<p></p>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="locations">
							<div class="col-md-10 col-sm-10">
								<h6>Casinos</h6>
								<h3>
									Barona Valley Ranch Resort & Casino</br>
									The Bicycle Casino</br>
									Caesars Palace - Las Vegas CNY</br>
									Commerce Casino</br>
									Crystal Park Hotel and Casino</br>
									Hawaiian Gardens Casino</br>
									Morongo Casino Resort and Spa</br>
								</h3>
								<h6>Restaurants</h6>
								<h3>261 Mission - San Gabriel</br>
									888 - San Gabriel</br>
									Cafe Santorini - Rococo Room - Old Town Pasadena</br>
									Castaways - Burbank</br>
									Chaya - Downtown Los Angeles</br>
									Cheesecake Factory - Redondo Beach</br>
									Cicada - Downtown Los Angeles</br>
									Empress Pavilion - Los Angeles Chinatown</br>
									The Hacienda Restaurant - Santa Ana</br>
									Happy Harbor - Rowland Heights</br>
									Harbor Seafood - Monterey Park</br>
									Hong Kong East Ocean Seafood - Emeryville</br>
									Lincoln Plaza Garden Restaurant - MPK</br>
									Luminaries - Monterey Park</br>
									Monterey Hills Steakhouse - Monterey Park</br>
									NBC - Monterey Park</br>
									New Capital - Monterey Park and San Gabriel</br>
									Ocean Seafood - Los Angeles Chinatown</br>
									Ocean Star - Monterey Park</br>
									Odyssey Restaurant - Granada Hills</br>
									Prince's Seafood Restaurant - Cerritos</br>
									Reef on the Water - Long Beach</br>
									Sea Empress - Gardena</br>
									Sea Harbour - Rosemead</br>
									Silver Dragon - Oakland</br>
									The Summit House - Fullerton</br>
									Ten Ten Seafood - Cerritos</br>
									Twin Palms - Pasadena</br>
									Weiland Brewery Underground - Los Angeles</br>
								</h3>
								<h6>Golf Courses/Country Clubs</h6>
								<h3>Alhambra Golf Course - Alhambra</br>
									California Country Club - Whittier</br>
									Chevy Chase Country Club</br>
									Coyote Hills Golf Course</br>
									Los Coyote Country Club - Buena Park</br>
									Los Verdes Golf Course - Rancho Palos Verdes</br>
									Malibou Lake Mountain Club - Agoura Hills</br>
									Mountain Gate Country Club - West LA</br>
									Old Ranch Country Club - Seal Beach</br>
									Palos Verdes Golf Course - Palos Verdes Estates</br>
									Quiet Cannon - Montebello</br>
									Rolling Hills Country Club - Rolling Hills Estates</br>
									Trump National Golf Club - Rancho Palos Verdes</br>
									Vellano Country Club - Chino Hills</br>
								</h3>
								<h6>Hotels</h6>
								<h3>Biltmore - Los Angeles</br>
									Casa del Mar - Santa Monica</br>
									Claremont Hotel - Berkeley</br>
									Crown Plaza Hotel - Anaheim</br>
									Disneyland Hotel - Anaheim</br>
									Double Tree - Anaheim</br>
									Double Tree - Monrovia</br>
									Embassy Suites - Anaheim</br>
									Fairmont Hotel - Newport Beach</br>
									Four Seasons - Beverly Wilshire</br>
									Hilton - Anaheim</br>
									Hilton - Beverly Hilton - Beverly Hills</br>
									Hilton - Long Beach</br>
									Hilton - San Gabriel</br>
									Hilton - Universal City</br>
									Hotel Maya - Long Beach</br>
									Hyatt - Garden Grove</br>
									Hyatt Regency - Century Plaza</br>
									Hyatt Regency - Huntington Beach</br>
									Hyatt Regency - Long Beach</br>
									Hyatt Regency - Newport Beach</br>
									La Venta Inn - Palos Verdes Estates</br>
									Lake Arrowhead Resort & Spa</br>
									The Langham Huntington - Pasadena</br>
									Loews - Santa Monica Beach</br>
									Luxe Hotels - Beverly Hills</br>
									Marriott - Anaheim</br>
									Marriott - Santa Monica</br>
									Marriott Resort & Spa - Laguna Cliffs</br>
									Miramonte Resort and Spa - Indian Wells</br>
									Mission Inn - Riverside</br>
									Montage - Beverly Hills</br>
									Montage - Laguna Beach</br>
									New Otani - Downtown Los Angeles</br>
									Omni Hotel - Downtown Los Angeles</br>
									Pacific Palms Resort - Industry Hills</br>
									The Peninsula - Beverly Hills</br>
									Queen Mary Hotel</br>
									Regent Beverly Wilshire Hotel</br>
									Ritz Carlton - Laguna Niguel</br>
									Ritz-Carlton - Los Angeles</br>
									Ritz Carlton - Marina Del Rey</br>
									Ritz Carlton - Pasadena</br>
									Sheraton - Cerritos Hotel - Towne Center</br>
									Sheraton - Downtown Los Angeles</br>
									Sheraton - Universal City</br>
									Shutters on the Beach - Santa Monica</br>
									SLS Hotel - Beverly Hills</br>
									St. Regis - Monarch Beach</br>
									Westin Bonaventure - Downtown Los Angeles</br>
									Westin Pasadena</br>
									Westin South Coast Plaza - Costa Mesa</br>
									Wilshire Grand Hotel - Los Angeles</br>
								</h3>
							</div>
							<!-- program speaker here -->
						</div>

					</div>

				</div>
			</div>
	</section>


	<!-- =========================
   REGISTER SECTION   
============================== -->
	<section id="register" class="parallax-section">




		<div class="container">
			<div class="row">
				<h2 style="color:#ffffff;padding-left: 15px;">Testimonials</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">

						<div class="item active col-sm-12">
							<div class="col-md-6 col-sm-6">
								<h4 style="color:#ffffff"></br>Kat & Jerry</br>
									Universal Hilton, Universal City
								</h4>
								<p style="color:#ffffff">"Our wedding was a tremendous success with much of it due to
									the sensational lion dance performance. Our guests, young and old were completely
									enthralled by the sounds, lights, and acrobatics. I've seen lion dance performances
									in Hong Kong, New York, San Francisco...and the performance by the Immortals was
									amazing! A fun time had by all! The Voltron lions got nothing on you guys! Thank you
									so much for everything!"</p>
							</div>

							<div class="col-md-6 col-sm-6">
								<img src="{% static 'website/images/KatJerry.jpg' %}" alt="Wedding Performance"
									align="right" style="width:100%;">
							</div>

						</div>

						<div class="item col-sm-12">
							<div class="col-md-6 col-sm-6">
								<h4 style="color:#ffffff"></br>Mimi</br>
									Tet Party, Orange Grove
								</h4>
								<p style="color:#ffffff">"Thank YOU! You guys were amazing!!!! EVERYONE had a wonderful
									time and kept on asking for more! We can't wait to have you guys for our wedding and
									for our tet party next year!"</br></br></br></br></br></br></p>
							</div>

							<div class="col-md-6 col-sm-6">
								<img src="{% static 'website/images/MimiTet.jpg' %}" alt="Tet Party Performance"
									align="right" style="width:100%;">
							</div>
						</div>

						<div class="item col-md-12 col-sm-12">
							<div class="col-md-6 col-sm-6">
								<h4 style="color:#ffffff"></br>Robyn Mircoff, Director</br>
									Beverly Hilton Hotel, Beverly Hills
								</h4>
								<p style="color:#ffffff">"Your performance at Operation Smile's 10th Annual Smile Gala
									was an incredible event highlight and was featured in the attached November issue of
									Angeleno Magazine! In celebration of our 20th Anniversary of medical missions in
									China, thank you again for bringing a stunning cultural tradition to life for our
									delighted guests. We look forward to working with you again soon!"</p>
							</div>

							<div class="col-md-6 col-sm-6">
								<img src="{% static 'website/images/opsmile.jpg' %}" alt="Operation Smile Performance"
									align="right" style="width:100%;">
							</div>
						</div>

						<div class="item col-md-12 col-sm-12">
							<div class="col-md-6 col-sm-6">
								<h4 style="color:#ffffff"></br>Lisa and Scott</br>
									The Vibiana, Los Angeles
								</h4>
								<p style="color:#ffffff">"Immortals performance at Lisa and Scott's wedding at the
									Vibiana."</br></br></br></br></br></br></br></br></p>
							</div>

							<div class="col-md-6 col-sm-6">
								<img src="{% static 'website/images/Lisa_Scott.jpg' %}" alt="Wedding" align="right"
									style="width:100%;">
							</div>
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="sr-only">Next</span>
					</a>


				</div>

				<div class="button-div" style="text-align:center">
					<button type="button" id="myBtn" id="myBtn"><img id="myImg"
							src="https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_4-512.png" width="16"
							height="16"></button>
				</div>


			</div>
		</div>
	</section>


	<!-- =========================
    FAQ SECTION   
============================== -->
	<section id="faq" class="parallax-section">
		<div class="container">
			<div class="row">

				<!-- Section title
			================================================== -->
				<div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
					<div class="section-title">
						<h2>Do you have Questions?</h2>
						<p>We answer some of the commonly asked questions below. Feel free to contact us for further
							inquiries.</p>
					</div>
				</div>

				<div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
										href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										What is included in the lion dance performance?
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingOne">
								<div class="panel-body">
									<p>The most requested type of performance is for wedding receptions. A wedding
										performance typically lasts approximately 15 minutes, includes two to three
										lions, and the music ensemble (drum, gong, and cymbals). Performances can be
										customized for each event as we have several types of options to choose from.
									</p>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
										href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Why consider the Immortals for your next engagement?
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingTwo">
								<div class="panel-body">
									<p>The Immortals have been exclusively hired in countless numbers of festivals,
										special events, celebrations, grand openings, television shows, movies,
										commercials, concerts, etc. Please refer to our <a href="#program"
											class="slide-section">Portfolio</a> page for an extensive list of past,
										current, and on-going performances. Read what people had to say about our
										performances on our <a href="#register" class="slide-section">Testimonials</a>
										page.</p>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
										href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										What factors are considered in a quote?
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingThree">
								<div class="panel-body">
									<p>When requesting a quote, please provide the following:</br>
										-Date / Time</br>
										-Location / Venue</br>
										-Event ( wedding / grand opening / other)</br>
										-Expected number of guests</br>
										-Special requests</p>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
										href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Is entertainment really that important?
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="headingFour">
								<div class="panel-body">
									<p>"That's the one thing I hear from my friends after a wedding. They wished they
										had more entertainment. Everything else is not as important. The cake, the
										dress, the decorations, the party favors, no one will remember. But they will
										remember the entertainment and they will remember whether or not the food was
										good. No one wants people to remember your wedding as being boring. That's the
										worst."
										...Elisa -married Jan 3, 2009</p>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>



	<!-- =========================
    CONTACT SECTION   
============================== -->
	<section id="contact">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-1 col-md-5 col-sm-6">
					<div class="contact_des">
						<div class="contact_detail msg">
							<h3>Contact Us</h3>
							<p>Please contact us if you would like to book a performance or are interested in joining
								our lion dance team. Our <a href="#faq" class="slide-section"> Frequently Asked
									Questions</a> section may help clarify some questions.</p>
							<p>Practices are held every Wednesday and Friday evenings in a casual setting. There are no
								fees or uniforms required to attend.
								<br/>
								If interested, please fill out an <a href="/apply">Interest Form</a>
							</p>

							<p></br><b>Contact Information: </b></br>
								Based in the city of LA.</br>
								Phone: (626) 281 - 4478</br>
								E-mail: immortalsliondance@gmail.com
							</p>
						</div>

					</div>
				</div>

				

			</div>
		</div>
	</section>


	<!-- =========================
    FOOTER SECTION   
============================== -->
	<footer style="padding-top: 20px; padding-bottom: 20px;">
		<div class="container">
			<div class="row">
				<a style="color:black" href="https://www.facebook.com/Immortalsliondance/"
					class="fa fa-facebook wow fadeInUp " data-wow-delay="0.5s"></a>
				<a style="color:black" href="https://www.instagram.com/immortalsliondance/"
					class="fa fa-instagram wow fadeInUp" data-wow-delay="0.7s"></a>
				<div class="col-md-12 col-sm-12">
					<p class="wow fadeInUp" data-wow-delay="0.6s">Copyright 2018 &copy; Immortals Lion Dance. All rights
						reserved
						</br>Designed by Shinha Tsuchida</p>
				</div>

			</div>
		</div>
	</footer>


	<!-- Back top -->
	<a href="#back-top" class="go-top scroll-up-btn"><i class="fa fa-angle-up"></i></a>


	<!-- =========================
     SCRIPTS   
============================== -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
		crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="{% static 'website/main.js' %}"></script>
</body>

</html>